/* ------------------ Landing Pages ------------------ */

.landingBackground{
    background-image: url('../assets/Vector1.png');
    height: 100%;
    background-repeat: no-repeat;
    background-position: 100% 0%;
    background-size: contain;
}

.landing{
  margin-left: 25px;
  display: flex;
}

.landing > div {
  flex-basis: 39%;
}

.landing > div > img {
  width: 400px;
  height: 400px;
  margin-bottom: -90px;
}

.landing > div > p {
  font-size: 24px;
  margin-left: 12px;
}

.landingg {
  margin-top: 30px;
  margin-left: 37px;
  display: flex;
  padding-bottom: 140px;
}

/* .landingg > button:nth-child(odd) {
  padding: 8px 40px;
  margin-right: 50px;
  background-color:#D60000;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
} */

.landingg > button:nth-child(even) {
  padding: 8px 40px;
  border: 0;
  background: rgba(205, 205, 205, 0.7);
  border-radius: 5px;
  font-size: 16px;
}

.signin{
  padding: 8px 40px;
  margin-right: 50px;
  background-color:#D60000;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  margin-left: 100px;
}

.title-signin{
  font-size: 36px;
  font-family:  "Nunito", sans-serif;
  font-weight: 800;
}

.form-signin{
  width: 90%;
}

.form-signin > input:nth-child(odd) {
  display: block;
  width: 100%;
  padding: 10px 15px 10px 7px;
  border-radius: 5px;
  outline: none;
}

.form-signin > input:nth-child(even) {
  display: block;
  width: 100%;
  margin-top: 18px;
  padding: 10px 15px 10px 7px;
  border-radius: 5px;
  outline: none;
}

.form-signin > button {
  display: block;
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  border-radius: 5px;
  background: #D60000;
  color: #fff;
  font-size: 18px;
}

/* ------------------ Home Pages ------------------ */

.home{
  display: flex;
}

.banner{
  padding: 10px;
  margin-right: 20px;
}

.banner > img {
  width: 980px;
  height: 450px;
}

.listBook{
  padding: 8px 12px;
  margin-right: 97px;
  margin-left: 10px;
  /* background-color: #929292; */
}

.list{
  display: flex;
  flex-wrap: wrap;
}


.list-link{
  margin-right: 35px;
  margin-bottom: 20px;
  text-decoration: none;
  color: black;
}

.book-img{
  width: 250px;
  height: 300px;
  border-radius: 5px;
}



/* ---------------- Side Profile ---------------- */

.profile-container{
  display: flex;
  flex-direction: column;
  flex-basis: 25%;
  /* justify-content: center; */
  align-items: center;
  /* background-color: #D60000; */
  padding-top: 25px;
}

.profile-container > img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.circle {
  width: 130px;
  height: 130px;
  background-color: black;
  border-radius: 50%;
  margin-top: 18px;
}

.circle > img {
  width: 125px;
  height: 125px;
  border-radius: 50%;
  margin-top: 3px;
  padding-left: 3px;
  object-fit: cover;
}

.profile-container p:nth-child(odd) {
  font-size: 24px;
  font-weight: 800;
  font-style: normal;
}

.profile-container p:nth-child(even) {
  font-size: 18px;
  font-weight: 700;
  color: #D60000;
  margin-top: -12px;
}

.profile-container > hr {
  border: 1px solid #C9C9C9;
  width: 180px;
}

.sidebar{
  margin-bottom: 100px;
}

.link-bar:first-child{
  display: block;
  text-decoration: none;
  margin-bottom: 32px;
  position: relative;
  margin-top: 20px;
}

.link-bar{
  display: block;
  text-decoration: none;
  margin-bottom: 32px;
  position: relative;
}

.icon-bar{
  margin-right: 20px;
  width: 27px;
  height: 27px;
}

.span-bar{
  position: absolute;
  margin-top: 3px;
  font-size: 18px;
  color: #929292;
}

.span-bar-red{
  position: absolute;
  margin-top: 3px;
  font-size: 18px;
  color: #D60000;
}

.sidebar > hr {
  border: 1px solid #C9C9C9;
  width: 180px;
  margin-top: 25px;
  margin-bottom: 20px;
}
